@font-face {
	font-family: 'miFuente';
	src: url('../Montserrat/proximaNova.otf') format('otf');
	font-family: 'G-Montserrat';
	 src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUQjIg1_i6t8kCHKm45_QpRxC7mw9c.woff2) format('woff2');
}
:root {
    --max-width:calc(1100*1em/16);
    --min-width: calc(320*1em/16);
    --height-header: calc(50 * 1em / 16);
    --height-section0: calc(350 * 1em / 16);
    --max-height: calc(380 *1em/16);
}
body{
    background-color: #50227A;
    width: 100%;
}
#mayor{
	width: fit-content;
	margin: 5px auto;
}
.cntMayor{
width: 100%;
max-width: var(--max-width);
min-width:var(--min-width);
display: inline-flex;
flex-direction: column;
font-family:'Montserrat','miFuente','G-Montserrat';
background-color:#352384;
color: white;
position:relative;
}
.seccion0{
	background-image: url('../assets/images/hero.gif'); 
	min-height:var(--height-section0);
	width: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100% 400px;
	position: relative;
}
header{
	width: 100%;
    max-width: var(--max-width);
	/*min-height: 400px;*/
    min-height:var(--height-header);
    z-index: 99;
    /*position: fixed;*/
    background-image: url('../assets/images/hero.gif');
    background-repeat: no-repeat;
    background-size: 100% 400px;
}
.opciones{
    display: block;
}
#logo-white{
	width: 50px;
	height: 40px;
	position: absolute;
    left: 40px;
    padding: 5px;
}
#login{
	position: absolute;
	min-width: 25%;
    width: 20%;
    background: white;
    right: 0%;
    box-sizing: border-box; 
	/*height: calc(var(--height-section0) - var(--height-header));*/
	height: 275px;
	bottom: 0px;
}
#tituloForm{
	color: #352384;
	font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.25em;
    margin: 2px auto;
}
.textoForm{
	color: #728099;
	font-size: 1em;
    text-transform: uppercase;
}
.form h6 {
	color: #728099;
    margin: 10px auto 5px;
    font-size: 0.5em;
}
.form{
	width: 250px;
    padding: 5px;
    box-sizing: border-box;
    margin: 15px auto 15px;
    min-height: 250px;
    text-align: justify;
}
.form input{
	margin: 15px auto;
    border-width: 0 0px 1px 0px;
    width: 100%;
}
.form a{
	color: #B3BBC9;
	cursor: pointer;
	font-size: 0.8em;
}
.form button{
	padding: 8px;
    border-radius: 8px;
    border:transparent;
    background: #FF00BF;
    color: white;
    cursor: pointer;
}
.iconos{
    width: 90%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 5px auto;
    text-align: right;
    color: white;
    font-size: 1.3em;
    word-spacing: 0.35em;
}
#seccion1{
	background:linear-gradient(#76278F, #2B1E66);
	max-height: var(--max-height);
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	padding:10px 60px;
}
#boton-logo{
	font-family:'miFuente';
	padding: 5px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 0.8em;
    font-weight: normal;
}
.secContn1{
	width: 50%;
    text-align: left;
    padding: 10px;
    color: white; 
}
.secContn1 p{
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 20px auto 10px;
}
.textos{
    margin: 20px auto 0px;
}
.textos span{
	text-transform: capitalize;
	font-size: 1em;
}
#imgCel{
	max-width: 50%;
    height: var(--max-height);
}
.seccion234, #seccion3{
	min-height: 300px;
	background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.videos{
    min-width: 70%;
    height: 360px;
}
.conTextSec{
	width: 30%;
	min-height: 300px;
    text-align: initial;
    padding: 10px;
    margin: 20px;
    color: black;
}
.seccion234 h6, #seccion3 h6 {
	text-transform: uppercase;
    font-weight: bold;
    margin: 0px auto;
}
.seccion234 p, #seccion3 p {
	text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px auto 15px;
}
.seccion234 span, #seccion3 span {
	margin: 3px auto;
}
footer{
	background:#333447;
    /*top: 1760px;*/
    width: 100%;
    max-width: 1100px;
    color: white;
    min-height: 500px;	
}
.cajas{
	display: flex;
}
.caja123{
	display: inline-block;
    width: 150px;
    box-sizing: border-box;
    padding: 10px 5px;
    margin: 50px;
}
.contApps{
	width: 150px;
    margin: 10px;
    display: inline-block;
    margin: 50px;
}
.img{
	width: 100%;
    height: 40px;
    margin: 20px auto 10px;
}
.fa-facebook, .fa-instagram, .fa-twitter{
	font-size: 2em;
}
.cajas h3{
	font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 100;
    margin: 20px auto;
}
.cajas span{
	text-transform: uppercase;
    font-size: 2em;
}
#iconFooter{
       width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconoss{
        margin: 10px auto;
}
.ultimoSpan{
    margin: 10px auto;
    border-top: groove;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}
h3:hover{
	color:#FF00BF; 
}
.fa-bars{
    display: none;
}
@media (min-width: 320px) and (max-width: 900px){
    #mayor{
    background-color: blue;
    width: 100%;
    }
    body{
    background-color: #50227A;
    width: 100%;  
    }
    .opciones, #login{
        display: none;
    }
    .fa-bars{
        display: inline-block;
    }
    .conTextSec{
    font-size: 0.8em;
    min-height: 200px;
    margin: 0px auto;
    text-align: center;
    inline-size: fit-content;
    min-height: auto;
    }
    .seccion234, .videos, .seccion0{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .videos{
            height: auto;
    margin: 0px auto;
    width: fit-content;
    }
    header{
        width: 100%
    }
    #seccion1{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    }
    .textos, .textos p{
        margin: 8px 0px 0px;
    }
    .secContn1{
    text-transform: capitalize;
    font-size: 0.7em;
    margin: 0px auto;
    inline-size: fit-content;
    height: auto;
    }
    #imgCel{
    font-size: 50%;
    margin: 0px auto;
    inline-size: fit-content;
    }
    #seccion3{
        width: 100%;
        display: flex;
        flex-direction: column-reverse; 
    }
    .caja123 h3{
        display: none;
    }
    .cajas, #apps{
            display: flex;
    flex-direction: column;
    }
    .cajas:hover{
        color:#FF00BF;
    }
    .caja123, #apps{
        margin: 10px 10px 0px;
    font-size: 0.5em;
    padding: 3px;
    }
    .cajas span{
        border-bottom: outset;
    }
    #apps{
            display: flex;
    flex-direction: column;
    }
    .img{
   width: 50%;
    height: auto;
    margin: 10px auto 0px;
    border-radius: 20px;
    }
    .contApps{
   display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    }
    footer{
        min-height: auto;
    }
    .iconoss{
        font-size: 0.6em;
    margin: 40px auto 0px;
    }
    .ultimoSpan{
        border-top: none;
        font-size: 0.6em;
    }
    #iconFooter{
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    }

}

/*
 * Estilos de tu proyecto
 */